<div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div class="page-title-icon"><i class="pe-7s-server icon-gradient bg-green"></i></div>
      <div>
        <%= t('syntech.import.title', resource_name: resource.name.pluralize) %>
        <div class="page-title-subheading">
          <%= t('syntech.import.description', resource_name: resource.name.pluralize) %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='col-sm-12'>
  <% if notice %>
    <div class="alert alert-success fade show" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <% if alert %>
    <div class="alert alert-danger fade show" role="alert">
      <%= alert %>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <%= form_for @attachment, url: importer_path(resource), multipart: true do |f| %>
          <i class="fa fa-cloud-upload"></i>
          <h5 class="card-title"><%= t('syntech.import.import_excel') %></h5>
          <label for='file-upload' class="btn btn-yellow"><%= t('syntech.import.choose_file') %></label>
          <div class="form-row">
            <div class="col-md-6">
              <%= f.file_field :file, required: true, class: "file-upload" %>
            </div>
          </div>
          <div class="form-actions text-right">
            <%= link_to main_app.root_path, class: "btn btn-light text-white" do %>
            <%= t('syntech.import.cancel') %>
            <i class='icon-cross'></i>
          <% end %>
          <%= button_tag(type: 'submit', class: "btn btn-green animated", data: { disable_with: t('syntech.import.wait') }) do %>
            <%= t('syntech.import.send_base') %>
            <i class='icon-plus'></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-body">
    <h5 class="card-title"><%= t('syntech.import.file_list') %></h5>
    <div class="table-responsive">
      <table class="align-middle mb-0 table table-borderless table-striped table-hover">
        <thead>
          <tr>
            <th class="text-center"><%= t('syntech.import.file_name') %></th>
            <th class="text-center"><%= t('syntech.import.date') %></th>
            <th class="text-center"><%= t('syntech.import.actions') %></th>
          </tr>
        </thead>
        <tbody>
          <% @attachments.each do |attachment| %>
          <tr>
            <td class= "text-center text-muted"><%= attachment.file.filename.to_s %></td>
            <td class= "text-center text-muted"><%= l(attachment.created_at, format: :long) %></td>
            <td class= "text-center text-muted"><%= link_to t('syntech.import.action.download'), main_app.rails_blob_path(attachment.file, disposition: 'attachment'), class: ' btn btn-success' %></td>
            <td class= "text-center text-muted">
              <%= button_to t('syntech.import.action.delete'), importer_path(attachment), method: :delete, class: 'btn btn-outline-danger', data: { confirm: t('syntech.import.action.delete_confirmation') } %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
